<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/items/filterByStatus" method="get">
        <select name="status">
            <option></option>
            <option value="lost">lost</option>
            <option value="found">found</option>
        </select>
        <button type="submit">Filter</button>
    </form>
</body>
</html>