<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label>
            <input type="text" id="email" name="email" placeholder="your email" required>
        </label>
        <label>
            <input type="password" id="password" name="password" placeholder="your password" required>//name це ключ в req.body
        </label>
        <button type="submit">Login</button>
    </form>
</body>
</html>