body, html{
    margin: 0;
    padding: 0;
}

.app{
    display: flex;
    height: 100vh;
}

li{
    color: brown;
    border-radius: 20px;
}

.sidebar {
  width: 300px;        /* Фіксована ширина сайдбара */
  background-color: #f3f4f6; /* Легкий сірий фон, щоб відділити його */
  border-right: 1px solid #ddd; 
  overflow-y: auto;    /* Якщо чатів багато, сайдбар буде скролитися всередині */
}

.chatContainer {
  flex: 1;             /* Займає ВЕСЬ вільний простір, що залишився */
  background-color: #ffffff;
  padding: 20px;
}

a.my-button-style{
    border-radius: 5px;
    border-color: black;
    color: rgb(22, 1, 1);
    margin: 100;
}
.messages{
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(215, 223, 223);
    max-width: 200px;
}

.sentMessages{
    color: black;
}

.receivedMessages{
    color: rgb(61, 92, 92);
}