.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hiddenInput{
    display: none;
}

.fileLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px; 
  background-color: #f9f9f9;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: border-color 0.3s ease;
}

.customBtn{
    background-color: rgb(19, 61, 20);;
    padding: 5px;
    /* padding-right: 100px; */
    border-radius: 5px;
    cursor: pointer;
    color:rgb(234, 234, 234);
    font-weight: lighter;
    border: 1px solid rgb(73, 73, 73);
    white-space: nowrap;
}

.customBtn:hover{
    transform: scale(0.98);
}

.fileNameText{
    font-size: 14px;
  color: rgb(100, 100, 100);
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}